  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a routerLink="principal" class="logo d-flex align-items-center  me-auto me-lg-0">
        <i class="bi bi-book"></i>
        <h1>Mundo Libros</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown">
            <a>
              <span>Generos de Libros</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                <a routerLink="fantasia">Fantasia</a>
              </li>
              <li>
                <a href="romance">Romance</a>
              </li>
              <li>
                <a href="ficcion">Ficcion</a>
              </li>
              <li>
                <a href="misterio">Misterio</a>
              </li>
              <li>
                <a href="erotico">Erotico</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- .navbar -->

      <div class="header-social-links">
        <a href="https://twitter.com/StivenNSN31"  target="_blank" class="twitter"><i class="bi bi-twitter" title="Sigueme en TWITTER" ></i></a>
        <a href="https://www.instagram.com/stiven_sanchez_ns/" target="_blank" class="instagram" title="Sigueme en INSTAGRAM" ><i class="bi bi-instagram"></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <!-- End Header -->