<div class="container-fluid">
    <div class="row gy-4 justify-content-center filter-sjm">
      <div class="col-xl-2 col-lg-4 col-md-5">
        <div class="gallery-item h-100">
          <img src="assets/img/2. Romance/Min/1.LSMDEH.jpg" class="img-fluid" alt="">
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="assets/img/2. Romance/Full/1. LSMDEH.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            <a href="https://mega.nz/file/t5IhAQbA#QP8gm8gcwuBhYbqeG65BmylmYUQGQn6aBticePrJDZk" target="_blank" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>
      </div>

    <div class="col-xl-2 col-lg-4 col-md-5">
      <div class="gallery-item h-100">
        <img src="assets/img/2. Romance/Min/2. Antes de Diciembre.jpg" class="img-fluid" alt="">
        <div class="gallery-links d-flex align-items-center justify-content-center">
          <a href="assets/img/2. Romance/Full/2 y 3.jpg" title="Gallery 2" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
          <a href="https://mega.nz/file/9lBgmDza#fXVg-4rDbfeilzjN_S7KU9oolrRC7gah84rDE-aa_J4" target="_blank" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-5" filte >
      <div class="gallery-item h-100">
        <img src="assets/img/2. Romance/Min/3. Despues de Diciembre.jpg" class="img-fluid" alt="">
        <div class="gallery-links d-flex align-items-center justify-content-center">
          <a href="assets/img/2. Romance/Full/2 y 3.jpg" title="Gallery 3" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
          <a href="https://mega.nz/file/15oTjRjY#tl-xu1wnHHkWGt0drPD7V9XI3lANIxU7B8omgIjICbA" target="_blank" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>